<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">View Stocks By Symbol</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="symbol" class="sr-only">Symbol</label>
      <input ng-model="symbol" name="symbol" type="text" autofocus class="form-control" placeholder="Stock Symbol">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search('')" class="btn btn-sucess btn-lg">See All</button>
      <button ng-click="search(symbol)" class="btn btn-primary btn-lg">Search</button>
    </div>
  </form>
</section>
<hr>
<section class="row">
  <h1 class="text-center h2" ng-bind="headerMessage"></h1>
  <div ng-show="companies">
    <ul class="list-unstyled">
      <li ng-repeat="company in companies">
        <section class="well col-md-6 col-md-offset-3">
          <h1 class="h3 text-center" style="margin-top: 0"><a href="#?symbol={{company.symbol}}"><span ng-bind="company.symbol"></span></a></h1>
          <div class="row">
            <div ng-show="company.rating">
              <div class="col-md-6 text-center">
                <span><b>Full name: </b><span ng-bind="company.name"></span></span>
              </div>
              <div class="col-md-6 text-center">
                <span><b>Rating: </b><span ng-bind="company.rating"></span></span>
              </div>
            </div>
            <div ng-hide="company.rating">
              <div class="col-md-12 text-center">
                <span><b>Full name: </b><span ng-bind="company.name"></span></span>
              </div>
            </div>
          </div>
        </section>
      </li>
    </ul>
  </div>
</section>
<div ng-show="companies">
  <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
</div>
